@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light text-text-primary-light dark:bg-background-dark dark:text-text-primary-dark font-sans antialiased;
  }
}

@layer utilities {
  .glass {
    @apply backdrop-blur-md bg-white/20 border border-white/30;
  }
  .glass-dark {
    @apply backdrop-blur-md bg-black/20 border border-white/10;
  }
}
